<!doctype html>
<html lang="en" ng-app="dataApp">
<head>
<meta charset="UTF-8">
<title>Mission Control</title>
<script src="/node_modules/angular/angular.js"></script>
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="UIscript.js"></script>
</head>
<body ng-Controller="dataCtrl">
	<div>
	<br/>
		<div class="panel panel-default">
		  <div class="panel-body">
		    <h3>Basic panel example</h3>
		  </div>
		  {{clients}}
	</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
