<!doctype html>
<html lang="en" ng-app="dataApp">
<head>
<meta charset="UTF-8">
<title>Mission Control</title>
<script src="/node_modules/angular/angular.js"></script>
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="UIscript.js"></script>
</head>
<body ng-Controller="dataCtrl" ng-keyup="keyUp($event)" ng-keydown="keyDown($event)">
	<div>
	<br/>
		<div class="panel panel-default">
		  <div class="panel-body">
		    <h3>Mission Control</h3>
		  </div>
		</div>
		<div>
			<ul class="nav nav-tabs">
				<li><a href="#home" ng-click="setTempItemIndex(-1)">Home</a></li>
				<li ng-repeat="client in data.clients"><a href="#{{$index}}" ng-click="setTempItemIndex($index)">{{client.uid}}</a></li>
			</ul>
			<div id="{{currentItemIndex}}" class="tab-content"  ng-show="currentItemIndex!=-1">
				<div class="tab-pane active" role="tabpanel">
					<div class="col-lg-3 col-sm-6" id="radar-chart">
                        <div class="panel panel-default">
                            <div class="panel-heading">Radar</div>
                            <div class="panel-body">
								<canvas id="radar" class="chart chart-radar" chart-data="data.clients[currentItemIndex].data.radar.distances" chart-labels="data.clients[currentItemIndex].data.radar.labels" chart-options="radarOptions"></canvas>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6" id="odometry">
                        <div class="panel panel-default">
                            <div class="panel-heading">Odometry</div>
                            <table class="table">
                            <thead>
                            <tr>
                            <th class="col-md-5"> Parameter </th>
                            <th> Value </th>
                            </tr>
                            </thead>
                            <tbody>
                            	<tr>
                            	<td>Position X:</td>
                            	<td>{{data.clients[currentItemIndex].data.pos[0]}}</td>
                            	</tr>
                            	<tr>
                            	<td>Position Y:</td>
                            	<td>{{data.clients[currentItemIndex].data.pos[1]}}</td>
                            	</tr>
                            	<tr>
                            	<td>Theta:</td>
                            	<td>{{Math.round(data.clients[currentItemIndex].data.pos[2]*(180/Math.PI)*10)/10}}°</td>
                            	</tr>
                            </tbody>
                            </table>
                            <div class="panel-body">
                            	<button class="btn btn-warning btn-lg" type="button" ng-click="resetPosition()"> Reset </button>
                            </div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6" id="motor">
                        <div class="panel panel-default">
                            <div class="panel-heading">Motor</div>
                            <table class="table">
                            <thead>
                            <tr>
                            <th class="col-md-5"> Parameter </th>
                            <th> Value </th>
                            </tr>
                            </thead>
                            <tbody>
                            	<tr>
                            	<td>Throttle left:</td>
                            	<td>{{data.clients[currentItemIndex].data.motor[0]}}</td>
                            	</tr>
                            	<tr>
                            	<td>Throttle right:</td>
                            	<td>{{data.clients[currentItemIndex].data.motor[1]}}</td>
                            	</tr>
                            </tbody>
                            </table>
                            <table class="table">
                            <thead>
                            <tr>
                            <th colspan="3">Manual control</th>
                            </tr>
                            <tr>
                            <th colspan="3">Speed <input type="number" name="input" ng-model="manualThrottle" required></th>
                            </tr>
                            </thead>
                            <tbody>
                            	<tr>
                            	<td></td>
                            	<td><button type="button" class="btn btn-default btn-lg" ng-mouseup="setThrottle([0,0])" ng-mousedown="setThrottle([manualThrottle,manualThrottle])">
  									<span class="glyphicon glyphicon-menu-up"></span></button></td>
                            	<td><button type="button" class="btn btn-default btn-lg" ng-mouseup="setHorn(0)" ng-mousedown="setHorn(1)">
  									<span class="glyphicon glyphicon-bullhorn"></span></button></td>
                            	</tr>
                            	<tr>
                            	<td><button type="button" class="btn btn-default btn-lg" ng-mouseup="setThrottle([0,0])" ng-mousedown="setThrottle([-manualThrottle,manualThrottle])">
  									<span class="glyphicon glyphicon-menu-left"></span></button></td>
                            	<td><button type="button" class="btn btn-danger btn-lg" ng-mousedown="setThrottle([0,0])">
									<span class="glyphicon glyphicon-stop"></span></button></td>
                            	<td><button type="button" class="btn btn-default btn-lg" ng-mouseup="setThrottle([0,0])" ng-mousedown="setThrottle([manualThrottle,-manualThrottle])">
  									<span class="glyphicon glyphicon-menu-right"></span></button></td>
                            	</tr>
                            	<tr>
                            	<td></td>
                            	<td><button type="button" class="btn btn-default btn-lg" ng-mouseup="setThrottle([0,0])" ng-mousedown="setThrottle([-manualThrottle,-manualThrottle])">
 									<span class="glyphicon glyphicon-menu-down"></span></button></td>
                            	<td></td>
                            	</tr>
                            </tbody>
                            </table>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6" id="log">
                        <div class="panel panel-default">
                            <div class="panel-heading">Log</div>
                            <div class="panel-body">
	                            <label> Error <input type="checkbox" ng-model="checkboxModel.Error"> </label>
	                            <label> Warning <input type="checkbox" ng-model="checkboxModel.Warning"> </label>
	                            <label> Info <input type="checkbox"  ng-model="checkboxModel.Info"> </label>
	                            <label> Debug <input type="checkbox" ng-model="checkboxModel.Debug"> </label>
                            <textarea class="form-control" rows="10">
                            	{{stringifyLog(data.clients[currentItemIndex].log)}}
                            </textarea>
                            </div>
                        </div>
                    </div>
				</div>
				<!--Client data:{{data.clients[currentItemIndex]}}<br/>-->
			</div>
			<div id="home" ng-show="currentItemIndex==-1">
				{{data.clients.length}} Clients connected<br/>
				<!--Raw data:<br/>{{data}}-->
			</div>
		</div>
	</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
